---
import Layout from "../layout/Layout.astro";

import FormField from "../components/ui/form_field";
---

<Layout title="About RUMSpotWatch" class="flex">
  <div
    class="flex flex-col flex-wrap items-center gap-7 border-solid border-4 m-20 p-10 w-1/2 mx-auto"
  >
    <h1 class="text-2xl text-center text-truncate">
      Have any questions or feedback? We'd Love to hear from you!
    </h1>

    <div
      class="flex flex-row items center gap-5 p-2"
    >
      <FormField
        placeholder="First Name"
        type="text"
        inputClassName="w-xs required"
        name="full_name"
      />
        <FormField
        placeholder="Last Name"
        type="text"
        inputClassName="w-xs required"
        name="full_name"
      />
    </div>

    <FormField
      placeholder="Email address"
      type="email"
      inputClassName="w-2xl required"
      name="email"
    />
    <FormField
      placeholder="Subject"
      type="text"
      inputClassName="w-2xl"
      name="subject"
    />
    <textarea
      name="message"
      id="message"
      class="w-2xl p-2 h-56 border-3 border-solid border-black text-black rounded-md"
      placeholder="Message"
      spellcheck="true"
      required></textarea>
    <FormField
      type="submit"
      value="Submit"
      className="w-32"
      inputClassName="w-32 text-center hover:bg-green-500"
    />
  </div>
</Layout>
