---
import Layout from "../layout/Layout.astro";

import FormField from "../components/ui/form_field";
---

<Layout title="About RUMSpotWatch" class="flex">
  <div
    class="flex flex-col flex-wrap items-center gap-1 my-10 mx-20 p-10 w-1/2 mx-auto border-solid border-t-4 border-l-4
    border-b-8 border-r-8 rounded-md shadow-2xl shadow-amber-300"
  >
    <h1 class="mb-5 text-2xl text-center text-truncate">
      Have any questions or feedback? We'd love to hear from you!
    </h1>

    <div class="flex flex-row items center gap-5 p-2">
      <FormField
        placeholder="First Name"
        type="text"
        inputClassName="w-xs required"
        name="full_name"
      />
      <FormField
        placeholder="Last Name"
        type="text"
        inputClassName="w-xs required"
        name="full_name"
      />
    </div>

    <FormField
      placeholder="Email address"
      type="email"
      inputClassName="w-2xl required"
      name="email"
    />
    <FormField
      placeholder="Subject"
      type="text"
      inputClassName="w-2xl"
      name="subject"
    />
    <div class="flex flex-col">
      <label for="message" class="mb-2 mt-2"> Message </label>
      <textarea
        name="message"
        id="message"
        class="w-2xl p-2 h-32 border-3 border-solid text-black rounded-md bg-[#FFFBE9]"
        spellcheck="true"
        required></textarea>
    </div>

    <input
      type="submit"
      value="Submit"
      class="w-45 mt-12 text-center hover:bg-green-500 bg-orange border-solid border-t-2 border-l-2
      border-b-6 border-r-6 rounded-md bg-amber-100"
    />
  </div>
</Layout>
