---
import {Image} from 'astro:assets';
import sw_logo from '@/assets/SW_Logo.png';
import { Button } from '@/components/ui/button'
---

<div class="navigation">
    <div class="desktop flex justify-between items-center h-full w-full px-6">
        <!-- Left side - Home (where logo will go) -->
        <div>
            <a href="/" class="text-black hover:text-gray-700 font-medium">  <Image src={sw_logo} alt="SpotWatch Logo" class="mx-auto my-8 w-25 h-auto" /></a>
        </div>
        
        <!-- Right side - Other navigation items -->
        <ol class="flex list-none p-0 m-0 items-center space-x-6 md:space-x-8 lg:space-x-12 xl:space-x-16">
            <li><a href="/" class="text-black hover:text-gray-700 font-medium">Project</a></li>
            <li><a href="/" class="text-black hover:text-gray-700 font-medium">Contact</a></li>
            <li><a href="/" class="text-black hover:text-gray-700 font-medium">FaQ</a></li>
            <li><a href="/" class="text-black hover:text-gray-700 font-medium">Team</a></li>
        </ol>
    </div>
    <div class="mobile flex px-6">
        <div>
            <a href="/" class="text-black hover:text-gray-700 font-medium">  <Image src={sw_logo} alt="SpotWatch Logo" class="mx-auto my-8 w-25 h-auto" /></a>
        </div>

        <Button className="w-[40px] active:bg-[var(--accent-color)] transition-all duration-100">
            <i class='bx  bx-menu-wider'  ></i> 
        </Button>
    </div>
</div>




<style>
    .navigation {
        display: flex;
        background-color: var(--accent-color);
        margin: 1rem;
        flex-grow: 1;
        height: 70px;
        max-height: 70px;
        border-radius: 0;
        border: 4px solid black;
        box-shadow: 8px 8px 0px black;
        border-radius: 0.5rem;
    }

    .mobile {
        display: none; /* Hide mobile navigation by default */
    }

    .navigation:hover {
 
    }

    a{
        font-size: 30px;
        font-family: "Geologica", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: italic;
        font-variation-settings:
            "slnt" -12,
            "CRSV" 0,
            "SHRP" 0;
    }
    /* Responsive styles for the navigation for mobile devices */
    @media screen and (max-width: 768px) {
        .desktop {
            display: none; /* Hide desktop navigation on mobile */
        }
        .mobile {
            display: flex; /* Show mobile navigation */
            align-items: center;
            width: 100%;
            justify-content: space-between;
        }
    }



</style>