---
import Footer from '../components/Footer.astro';
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<style>
		:root {
			--primary-color: #0b2823ff;
			--secondary-color: #1d7264ff;
			--background-color: #faee5fff;
			--text-color: #feffffff;
		}
	</style>

    <Footer></Footer>
</html>